
@{
    ViewBag.Title = "Удаление контакта";
}

<h2>Удаление контакта</h2>
<form method="post" action="@Url.Action("Delete")">
    Введите ID контакта:<input type="text" name="Id" />
    <input type="submit" value="Удалить контакт" class="btn btn-warning" />
    <div class="form-control-feedback"></div>
</form>

