
@{
    ViewBag.Title = "Создание нового контакта";
}

<h2>Создание нового контакта</h2>
<form method="post" action="@Url.Action("InsertContact")">
    Ваше ФИО:<input type="text" name="Name" />
    Адрес электронной почты:<input type="text" name="Email" />
    <input type="submit" value="Создать контакт" />
    </Form>


