
@{
    ViewBag.Title = "Обновление данных контакта";
}

<h2>Изменение данных контакта</h2>
<form method="post" action="@Url.Action("Update")">
    Ваше ФИО:<input type="text" name="Name" />
    Адрес электронной почты:<input type="text" name="Email" />
    <input type="submit" value="Обновить контакт" />
</form>
