@{
    ViewBag.Title = "О приложении Найди работника 1.0";
}
<h2>@ViewBag.Title.</h2>
<p>Приложение было разработано в 2019 году, и уже предполагает собой дальнейшее развитие.</p>
<div class="text-right">
    
    <p><a href="https://github.com/sentdyem" class="btn btn-success btn-lg">GitHub разработчика &raquo;</a></p>
</div>
