
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;


#line default
#line hidden

#line 3 "C:\Users\ademin\source\repos\Book\Book\Views\Home\Contacts.cshtml"
    __o = Html.ActionLink("Create New", "Create");


#line default
#line hidden

#line 4 "C:\Users\ademin\source\repos\Book\Book\Views\Home\Contacts.cshtml"
    __o = Html.DisplayNameFor(model => model.Name);


#line default
#line hidden

#line 5 "C:\Users\ademin\source\repos\Book\Book\Views\Home\Contacts.cshtml"
    __o = Html.DisplayNameFor(model => model.Email);


#line default
#line hidden

#line 6 "C:\Users\ademin\source\repos\Book\Book\Views\Home\Contacts.cshtml"
    foreach (var item in Model) {


#line default
#line hidden

#line 7 "C:\Users\ademin\source\repos\Book\Book\Views\Home\Contacts.cshtml"
        __o = Html.DisplayFor(modelItem => item.Name);


#line default
#line hidden

#line 8 "C:\Users\ademin\source\repos\Book\Book\Views\Home\Contacts.cshtml"
        __o = Html.DisplayFor(modelItem => item.Email);


#line default
#line hidden

#line 9 "C:\Users\ademin\source\repos\Book\Book\Views\Home\Contacts.cshtml"
        __o = Html.ActionLink("Edit", "Edit", new { id=item.Id });


#line default
#line hidden

#line 10 "C:\Users\ademin\source\repos\Book\Book\Views\Home\Contacts.cshtml"
        __o = Html.ActionLink("Details", "Details", new { id=item.Id });


#line default
#line hidden

#line 11 "C:\Users\ademin\source\repos\Book\Book\Views\Home\Contacts.cshtml"
        __o = Html.ActionLink("Delete", "Delete", new { id=item.Id });


#line default
#line hidden

#li e 1                @*@foreach (var b in ViewBag.Books)
                {
                    <tr>
                        <td><p>@b.Name</p></td>
                        <td><p>@b.Author</p></td>
                        <td class="text-"><p>@b.Price</p></td>
                        <td><p><a class="btn btn-success btn-lg btn-block" href="/Home/Buy/@b.Id">Купить</a></p></td>
                    </tr>
                }*@
            </table>
        </div>
</body>
</html>
