@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>НАЙДИ РАБОТНИКА 1.0</h1>
    <p class="lead">Сайт, предназначенный для работы с адресной книгой.</p>
    <p><a href="https://github.com/sentdyem" class="btn btn-success btn-lg">GitHub разработчика &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Удобство использования</h2>
        <p>
            Упрощенный функционал позволяет быстро добавлять новых контактов.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Используемые технологии</h2>
        <p>Для обеспечения работы сайта используется бесплатный Framework - ASP.NET.</p>
    </div>
    <div class="col-md-4">
        <h2>Баги разработки</h2>
        <p>Отсутствие функционала кнопок "Изменить", "Удалить".</p>
            
    </div>
</div>